<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
     All Users 
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="../../tab3"><ion-icon name="add-user"></ion-icon> Add user</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="loadData(true, $event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
 
  <ion-list>
  
    <ion-card *ngFor="let user of (users | async)"  (click)="openDetails(user.id)">
      <ion-card-content>
        <b>Name</b>: {{user.name}} <br/>
        <b>User Name</b>: {{user.username}} <br/>
        <b>Email </b>: {{user.email}} <br/>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>