<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/"><ion-icon name="arrow-back"></ion-icon> Back</ion-button>
    </ion-buttons>
    <ion-title>
      User Details
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
	<ion-card *ngIf="user">
		<ion-card-content>
		<ion-item>
	        <ion-thumbnail slot="start">
	          <img src="/assets/{{userImg}}.jpg" *ngIf="userImg">
	          <img src="/assets/nouser.svg" *ngIf="userImg==''" (click)="addPix()">
	        </ion-thumbnail>
	    </ion-item>
		  Name: {{ user.name }} <br>
		  Username: {{ user.username }} <br>
		  Email: {{ user.username }} <br>
		  Addres: {{ user.address.suite }},  {{ user.address.street }}, {{ user.address.city }}<br>
		  Phone: {{ user.phone }} <br>
		  Website: {{ user.website }} <br>
		  Works at: {{ user.company.name }}- {{ user.company.website }} <br>
		  Company Moto: {{ user.company.catchPhrase }} - {{ user.company.bs }} <br>

		</ion-card-content>
	</ion-card>
</ion-content>
